<!DOCTYPE html>
<html lang="fr"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">>
<head>
    <meta charset="UTF-8">
    <title>Filmothèque</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="icon" data-th-href="@{/images/logoENI.png}">
</head>
<body>
<header>


    <h1 id="nav-title">
        <a th:href="@{/}">Filmothèque</a>

    </h1>
    <nav>
        <ul>
            <li><a th:href="@{/films}">Films</a></li>
            <li><a th:href="@{/films/creer}">Creer</a></li>
<li>
    <!-- Affiché si l'utilisateur n'est PAS connecté -->
    <a sec:authorize="isAnonymous()" th:href="@{/login}">Se connecter</a>

    <!-- Affiché si l'utilisateur EST connecté -->
    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" style="display:inline;">
        <button type="submit">Se déconnecter</button>
    </form>


</li>
        </ul>

    </nav>
</header>

<main class="center-main">
    <h1 class="center-section">Voici la bibliothèque des films de ENI Ecole</h1>
</main>


</body>
</html>