<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/tp-form.css}">
    <link rel="icon" th:href="@{/images/logoENI.png}">
    <title>Page de connexion</title>
</head>

<body>

<!-- Formulaire affiché seulement si l'utilisateur n'est PAS connecté -->
<div sec:authorize="isAnonymous()">
    <form th:action="@{/login}" method="post">
        <div><label> Nom utilisateur : <input type="text" name="username"/> </label></div><br>
        <div><label> Mot de passe : <input type="password" name="password"/> </label></div><br>
        <div><input type="submit" value="Se connecter"/></div>
    </form>
</div>

<!-- Bouton affiché seulement si l'utilisateur EST connecté -->
<div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <button type="submit">Se déconnecter</button>
    </form>
</div>

</body>
</html>
<!--<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/tp-form.css}">
    <link rel="icon" th:href="@{/images/logoENI.png}">
    <title>Page de connexion</title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div><label> Nom utilisateur : <input type="text" name="username"/> </label></div><br>
    <div><label> Mot de passe : <input type="password" name="password"/> </label></div><br>
    <div><input type="submit" value="Se connecter"/></div>
</form>


</body>
</html>-->